html[data-night='night'] body {--background:rgbg(0,0,0,0),
--box-shadow:-10px 0px 10px rgb(242,192,86),   /*左边阴影*/
            0px -10px 10px rgb(72,209,204),  /*上边阴影*/
            10px 0px 10px rgb(0,255,0),  /*右边阴影*/
            0px 10px 10px rgb(255,0,255);/*下边阴影*/ }
.joe_header__above {border-radius:30px 30px 30px 30px}
.joe_header__slideout-author .avatar {box-shadow:2px 2px 2px 2px rgb(66 226 67 / 22%)}
.joe_header__slideout.active {background-image: url(https://cdn.jsdelivr.net/gh/fjl2496627108/pictures@3f5b19ee3823e220195108639d40b64c38f8e53a/2021/05/16/d67efc0b015f030f37e266fb7e755063.png);background-size: 100% 100%;
    background-attachment: fixed;}
.joe_header__slideout-image {width: 0%;
    height: 0px;}
